@use "sass:map";
@use "scss/shared";

$style-dashed-marker-size: 1rem;
$style-dashed-marker-margin: .2rem;

@function layout-ratio-total-parts($lf-ratio-map) {
    @return map.get($lf-ratio-map, "left") + map.get($lf-ratio-map, "right");
}
@function layout-ratio-for-side($lf-ratio-map, $side) {
    $layout-ratio-total-parts: layout-ratio-total-parts($lf-ratio-map);
    @return calc(map.get($lf-ratio-map, $side) / $layout-ratio-total-parts * 100);
}
$layout-ratio: (
  left: 3,
  right: 5,
);
$layout-ratio-pdf: (
  left: 44,
  right: 55,
);
/* https://www.compart.com/en/unicode/category/Pd */
$dashes: (
    hyphen: "-",
    wave: "\301C",
    en: "\2013",
    em-small: "\FE58",
);

.page > section {
    padding: 1rem;
}

.page {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: left;
    max-width: 1200px;
    margin: 0 auto;
}

ul.style-none {
    list-style-type: none;
    padding-left: 0;

    & > li {
        margin-top: .25rem;
    }
}

ul.style-dashed {
    list-style-type: none;
    padding-left: 0;
    & > li {
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    & > li:before {
        content: map.get($dashes, em-small);
        font-weight: 600;
        display: inline-block;
        margin-right: $style-dashed-marker-margin;
        width: $style-dashed-marker-size;
        text-align: center;
        flex-shrink: 0;
    }
}

#personal-info {
    width: 0;
    max-width: 30rem;
    flex: layout-ratio-for-side($layout-ratio, "left") 1;
    container: personal-info / inline-size;
}

#resume-content-right {
    width: 0;
    max-width: 45rem;
    flex: layout-ratio-for-side($layout-ratio, "right") 1;
    position: relative;
}

.resume-only {
    display: none;
}

#site-name {
    font-size: 2.4rem;
    font-size: clamp(2.3rem, 4.8vw, 3.9rem);
    font-size: 14cqi;
    margin: .4rem 0 0 0;
}

#site-name-subheading {
    margin-top: 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;

    > span + span {
        margin-left: .6rem;
    }
}


#personal-info .align-right {
    text-align: right;
}

.api-integrations {

    margin-top: .3em;

    > span {
        font-weight: bold;
        white-space: nowrap;
    }
    > ul {
        list-style: none;
        padding-left: calc($style-dashed-marker-size + $style-dashed-marker-margin);
        > li {
            display: inline;
            &:before {
                content: '';
                display: none;
            }
            &:after {
                content: ', ';
            }
            &:last-child:after {
                content: '';
            }
        }
    }
}

.development-area-list > ul {
    list-style: none;
    padding-left: 0;
    font-weight: bold;

    & > li + li {
        margin-top: 0;
    }
}


// ----- SECTIONS --------

#left-sidebar {
    ul {
        padding-left: 1.4rem;
    }
}

.previous-work {

    margin-top: shared.$section-spacing;

    /* reset */
    ul.reset > li {
        display: block;
        &:before {
            content: '';
            display: none;
        }
    }

    .previous-work-item {

        & > h3:first-child {
            margin-top: 0.5rem;
        }

        & + .previous-work-item {
            margin-top: 1rem;
        }

        .list-section {
            padding-left: 1rem;

            > ul {
                margin: .4rem auto .8rem auto;
                padding-left: 0;
                font-size: .8rem;
                list-style: none;
            }
        }

        .previous-work-item-experience {
            $font-size: 0.9rem;

            margin-top: 0;
            padding-left: 0;
            font-size: $font-size;

            & ul {
                font-size: $font-size;
                align-items: start;
            }
            & ul li {
                margin-top: 0;
            }
        }

        .previous-work-item-projects {

            .project-title {
                font-weight: 600;
                margin-top: 0.3rem;
                margin-bottom: 0.1rem;

                h5 {
                    margin: 0;
                    display: inline-block;
                    line-height: normal;
                }
                > .project-title-links {                    
                    margin-left: .4em;
                    font-size: .9em;

                    display: inline-flex;
                    flex-direction: row;
                    flex-wrap: wrap;
                    align-items: center;
                    vertical-align: top;

                    > a {
                        white-space: nowrap;
                        & + a {
                            margin-left: .8em;
                        }
                    }
                }
            }

            > ul {
                > li {
                    margin-bottom: .4em;
                }
            }

            .previous-work-item-project-sub-info {
                padding-left: 1rem;
                margin-bottom: .5rem;
                h5 {
                    margin: .5em auto 0 auto;
                }
                & > ul > li > span:first-of-type {
                    white-space: nowrap;
                    margin-right: 1em;
                }
            }
        }

        &#previous-work-canva {
            .previous-work-item-projects {
                > ul {
                    > li + li {
                        margin: 0 auto;
                    }
                }
            }
        }

    }
}


@include shared.media-breakpoint-down(md) {
    .page {
        flex-direction: column;
    }
    #personal-info, #resume-content-right {
        width: 100%;
        max-width: initial;
        flex: 1 1 auto;
    }
    #personal-info {
        padding-bottom: 0;
    }
    #resume-content-right {
        padding-top: 0;
    }
    #site-name {
        --font-size-cqi: 12;
        --margin-left-right-combined: 32px;
        --scrollbar-width: 16px; /* is about right for browser showing width taking scrollbars, but not overlaid scrollbars */
        --font-size-cqi-percent: calc(var(--font-size-cqi) / 100);
        /* adjust for 16px margin on each side, but not going to fix scrollbar so easy because of VW scrollbar issues */
        font-size: calc(var(--font-size-cqi) * 1vw - (var(--margin-left-right-combined) * var(--font-size-cqi-percent)) - (var(--scrollbar-width) * var(--font-size-cqi-percent)));
        font-size: calc(var(--font-size-cqi) * 1cqw);
    }
}

@include shared.media-breakpoint-up(sm) {
    #resume-content-right {
        min-height: calc(100vh - 1rem);
        &::before {
            content: '';
            display: block;
            position: absolute;
            width: 1px;
            top: 0;
            bottom: 0;
            left: -0.5px;
            background-color: shared.$color-border;
        }
    }
}

@include shared.media-breakpoint-down(xs) {
    #personal-info {
        text-align: left;
    }
}

@media print {

    .pup-ob {
        .resume-remove {
            display: none !important;
        }

        #personal-info {
            flex: layout-ratio-for-side($layout-ratio-pdf, "left") 1;
        }
        #resume-content-right {
            flex: layout-ratio-for-side($layout-ratio-pdf, "right") 1;
        }
    }

    #site-name {
        font-size: 11cqi;
    }

    #site-name-subheading {
        font-size: 0.9rem;
    }

    #resume-content-right::after {
        content: '';
        display: block;
    }

    .resume-only {
        display: block;
    }

    .print-remove {
        display: none !important;
    }

    .left-side-info {
        p {
            font-size: .8rem;
        }
    }

    .list-section {
        font-size: .8rem;
    }

    // move references to bottom on PDF
    #personal-info {
        display: flex;
        flex-direction: column;
    }
}
