@use "scss/shared";

.page > section {
    padding: 1rem;
}

.page {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: left;
    max-width: 1200px;
    margin: 0 auto;
}

#personal-info {
    width: 0;
    max-width: 30rem;
    flex: 3 1;
    container: personal-info / inline-size;
}

#resume-content-right {
    width: 0;
    max-width: 45rem;
    flex: 5 1;
}

.resume-only {
    display: none;
}

#site-name {
    font-size: 2.4rem;
    font-size: clamp(2.3rem, 4.8vw, 3.9rem);
    font-size: 14cqi;
    margin: .5rem 0 .5rem 0;
}

#personal-info .align-right {
    text-align: right;
}

.development-area-list ul {
    list-style: none;
    padding-left: 0;
    font-weight: bold;
}

ul.api-integrations-list {
    list-style: none;
    padding-left: 1rem;
    > li {
        display: inline;
        &:after {
            content: ', ';
        }
        &:last-child:after {
            content: '';
        }
    }
}

@include shared.media-breakpoint-down(md) {
    .page {
        flex-direction: column;
    }
    #personal-info, #resume-content-right {
        width: 100%;
        max-width: initial;
        flex: 1 1 auto;
    }
    #personal-info {
        padding-bottom: 0;
    }
    #resume-content-right {
        padding-top: 0;
    }
    #site-name {
        --font-size-cqi: 12;
        --margin-left-right-combined: 32px;
        --scrollbar-width: 16px; /* is about right for browser showing width taking scrollbars, but not overlaid scrollbars */
        --font-size-cqi-percent: calc(var(--font-size-cqi) / 100);
        /* adjust for 16px margin on each side, but not going to fix scrollbar so easy because of VW scrollbar issues */
        font-size: calc(var(--font-size-cqi) * 1vw - (var(--margin-left-right-combined) * var(--font-size-cqi-percent)) - (var(--scrollbar-width) * var(--font-size-cqi-percent)));
        font-size: calc(var(--font-size-cqi) * 1cqw);
    }
}

@include shared.media-breakpoint-up(sm) {
    #resume-content-right {
        border-left: 1px solid shared.$color-border;
        min-height: calc(100vh - 1rem);
    }
}

@include shared.media-breakpoint-down(xs) {
    #personal-info {
        text-align: left;
    }
}


@media print {

    #site-name {
        font-size: 13cqi;
    }

    #site-name-subheading {
        font-size: 0.9rem;
    }

    #resume-content-right::after {
        content: '';
        display: block;
    }

    .resume-only {
        display: block;
    }

    .print-remove {
        display: none !important;
    }

    .pup-ob {
        .resume-remove {
            display: none !important;
        }
    }

    .left-side-info {
        p {
            font-size: .8rem;
        }
    }

    .list-section {
        font-size: .8rem;
    }

    // move references to bottom on PDF
    #personal-info {

        display: flex;
        flex-direction: column;

        .list-section {
            margin-top: 0;
        }

        .references {
            margin-top: auto;
        }
    }
}



// ----- SECTIONS --------

.list-section {

    margin-top: calc(shared.$section-spacing / 2);

    + .list-section {
        margin-top: shared.$section-spacing;
    }

    > ul {

        > li {
            line-height: 1.4;
        }

        > li + li {
            margin-top: calc(shared.$spacer / 4);
        }

        p {
            margin-top: 0;
            margin-bottom: .2rem;
        }

        // sub-list
        h4 {
            font-size: 1rem;
            margin-bottom: .2rem;
        }

    }
}

#left-sidebar {
    ul {
        padding-left: 1.4rem;
    }
}


.references {
    margin-top: 2rem;

    ul {
        li+li {
            margin-top: calc(shared.$spacer / 2);
        }
    }
}

.previous-work {

    margin-top: shared.$section-spacing;

    .previous-work-item {
        padding-left: 1rem;

        & + .previous-work-item {
            margin-top: 1rem;
        }

        .list-section {
            padding-left: 1rem;

            > ul {
                margin: .6rem auto .8rem auto;
                padding-left: 0;
                font-size: .8rem;
                list-style: none;
            }
        }

        .previous-work-item-experience {
            margin-top: 0;
        }

        .previous-work-item-projects {

            .project-title {
                font-weight: 600;
                margin-top: 0.3rem;
                margin-bottom: 0.1rem;
                line-height: 1.2rem;
                h4 {
                    margin-top: 0;
                    display: inline-block;
                }
            }

            h4 {
                font-size: 1.2rem;
            }

            > ul {
                > li {
                    margin-bottom: 1rem;
                }
            }

            .previous-work-item-project-sub-info {
                padding-left: 1rem;
                margin-bottom: .5rem;
                h5 {
                    margin: .5em auto 0 auto;
                }
                > ul {
                    list-style-type: disc;
                    padding-left: 1rem;
                }
            }
        }

        &#previous-work-canva {
            .previous-work-item-projects {
                > ul {
                    > li {
                        margin: 0 auto;
                    }
                    > li + li {
                        margin: 0 auto;
                    }
                }
            }
        }

    }
}