@use "scss/shared";

.page > section {
    padding: 1rem;
}

.page {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: left;
}

#personal-info {
    width: 600px;
    max-width: 600px;
    flex: 1 1 600px;
}

#resume-content {
    max-width: 800px;
    flex: 1 1 800px;
}

.resume-only {
    display: none;
}

#site-name {
    font-size: 2.5rem;
    font-size: clamp(2.5rem, 7vw, 5rem);
    margin: .5rem 0 1rem 0;
}

#personal-info .align-right {
    text-align: right;
}

@include shared.media-breakpoint-down(md) {
    .page {
        flex-direction: column;
    }
    #personal-info, #resume-content {
        width: 100%;
        max-width: initial;
        flex: 1 1 auto;
    }
}

@include shared.media-breakpoint-up(sm) {
    #resume-content {
        border-left: 1px solid shared.$color-border;
        min-height: calc(100vh - 1rem);
    }
}

@include shared.media-breakpoint-down(xs) {
    #personal-info {
        text-align: left;
    }
}


@media print {
    #site-name-subheading {
        font-size: 0.9rem;
    }

    #resume-content::after {
        content: '';
        display: block;
    }

    .resume-only {
        display: block;
    }

    .pup-ob {
        .resume-remove {
            display: none !important;
        }
    }

    .left-side-info {
        p {
            font-size: .8rem;
        }
    }

    .list-section {
        font-size: .8rem;
    }

    // move references to bottom on PDF
    #personal-info {

        display: flex;
        flex-direction: column;

        .list-section {
            margin-top: 0;
        }

        .references {
            margin-top: auto;
        }
    }
}



// ----- SECTIONS --------

.list-section {

    margin-top: calc(shared.$section-spacing / 2);

    +.list-section {
        margin-top: shared.$section-spacing;
    }

    ul {

        li {
            line-height: 1.4;
        }

        li+li {
            margin-top: calc(shared.$spacer / 4);
        }

        p {
            margin-bottom: .2rem;
        }

        // sub-list
        h4 {
            font-size: 1rem;
            margin-bottom: .2rem;
        }

    }
}

#left-sidebar {
    ul {
        padding-left: 1.4rem;
    }
}


.references {
    margin-top: 2rem;

    ul {
        li+li {
            margin-top: calc(shared.$spacer / 2);
        }
    }
}

.previous-work {

    margin-top: shared.$section-spacing;

    .previous-work-item {

        padding-left: 1rem;

        .list-section {
            padding-left: 1rem;

            ul {
                padding-left: 0;
                font-size: .8rem;
                list-style: none;
            }
        }

        .previous-work-item-experience {
            margin-top: 0;
        }

        .previous-work-item-projects {

            .project-title {
                font-weight: 600;
                margin-bottom: 0.1rem;
                line-height: 1.2rem;

                h4 {
                    display: inline-block;
                }
            }

            h4 {
                font-size: 1.2rem;
            }

            ul {
                li {
                    margin-bottom: 1rem;

                    h4 {
                        font-size: 1rem;
                    }
                }
            }

        }
    }
}