@use "sass:map";

// copied from BOOTSTRAP - Breakpoints
// Breakpoints are defined as a map of (name: minimum width), order from small to large:
// (xs: 0, sm: 576px, md: 768px, lg: 992px, xl: 1200px, xxl: 1400px)
$breakpoints: (xs: 0, sm: 576px, md: 768px, lg: 992px, xl: 1200px, xxl: 1400px) !default;
@forward "breakpoints";

@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');

// bootstrap variables
$enable-print-styles: false;

$top-spacing: 1rem !default;

// copied from BOOTSTRAP - Font
$font-family-sans-serif: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !default;

// copied from BOOTSTRAP - Colors
// map.get($theme-colors, "light");     -> $gray-100 !default; -> #f8f9fa
// map.get($theme-colors, "dark");      -> $gray-900 !default; -> #212529
// map.get($theme-colors, "secondary"); -> $gray-600 !default; -> #6c757d
$color-background: #f8f9fa !default;
$color-font: #212529 !default;
$color-border: #6c757d !default;

// copied from BOOTSTRAP - $spacer
$spacer: 1rem !default;
$top-spacing: $spacer;
$section-spacing: $top-spacing * 1.25;


// PDF UPDATES
body.pdf,
body.pdf h1,
body.pdf h2,
body.pdf h3,
body.pdf h4,
body.pdf h5,
body.pdf h6 {
    font-family: Helvetica, Arial !important;
}

@page {
    size: A4 portrait;
}

html * {
    box-sizing: border-box;
}

body {
    font-family: $font-family-sans-serif;
    background-color: $color-background;
    color: $color-font;
    margin: 0;
}

body.page {
    min-height: 100vh;
}

h1,
h2,
h3,
h4 {
    font-family: 'Josefin Sans', $font-family-sans-serif;
}
