@use "sass:map";

@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');

// bootstrap variables
$enable-print-styles: false;

@import "~bootstrap/scss/bootstrap.scss";

$color-background: map.get($theme-colors, "light");
$color-font: map.get($theme-colors, "dark");
$color-border: map.get($theme-colors, "secondary");

$top-spacing: $spacer;

$section-spacing: $top-spacing * 1.25;

h1,
h2,
h3,
h4 {
    font-family: 'Josefin Sans', $font-family-sans-serif;
}

body.pdf,
body.pdf h1,
body.pdf h2,
body.pdf h3,
body.pdf h4,
body.pdf h5,
body.pdf h6 {
    font-family: Helvetica, Arial !important;
}

@page {
    size: A4 portrait;
}

html {
    background-color: $color-background;
}

body {
    background-color: $color-background;
    color: $color-font;
}

#page-container {
    min-height: 100vh;
}

#page-container>.row {
    min-height: 100%;
}

#resume-content {
    max-width: 600px;
}

@include media-breakpoint-up(sm) {

    #site-name {
        font-size: 4.2vw;
    }

    #resume-content {
        border-left: 1px solid $color-border;
        min-height: calc(100vh - 1rem);
    }

    #left-sidebar .align-right {
        text-align: right;
    }
}

@include media-breakpoint-down(xs) {
    #left-sidebar {
        text-align: left;
    }
}


@media print {
    #site-name-subheading {
        font-size: 0.9rem;
    }

    #resume-content::after {
        content: '';
        display: block;
    }

    .pup-ob {
        .resume-remove {
            display: none !important;
        }
    }

    .left-side-info {
        p {
            font-size: .8rem;
        }
    }

    .list-section {
        font-size: .8rem;
    }

    // move references to bottom on PDF
    #left-sidebar {

        display: flex;
        flex-direction: column;

        .list-section {
            margin-top: 0;
        }

        .references {
            margin-top: auto;
        }
    }
}



// ----- SECTIONS --------

.list-section {

    margin-top: calc($section-spacing / 2);

    +.list-section {
        margin-top: $section-spacing;
    }

    ul {

        li {
            line-height: 1.4;
        }

        li+li {
            margin-top: calc($spacer / 4);
        }

        p {
            margin-bottom: .2rem;
        }

        // sub-list
        h4 {
            font-size: 1rem;
            margin-bottom: .2rem;
        }

    }
}

#left-sidebar {
    ul {
        padding-left: 1.4rem;
    }
}


.references {
    margin-top: 2rem;

    ul {
        li+li {
            margin-top: calc($spacer / 2);
        }
    }
}

.previous-work {

    margin-top: $section-spacing;

    .previous-work-item {

        padding-left: 1rem;

        .list-section {
            padding-left: 1rem;

            ul {
                padding-left: 0;
                font-size: .8rem;
                list-style: none;
            }
        }

        .previous-work-item-experience {
            margin-top: 0;
        }

        .previous-work-item-projects {

            .project-title {
                font-weight: 600;
                margin-bottom: 0.1rem;
                line-height: 1.2rem;

                h4 {
                    display: inline-block;
                }
            }

            h4 {
                font-size: 1.2rem;
            }

            ul {
                li {
                    margin-bottom: 1rem;

                    h4 {
                        font-size: 1rem;
                    }
                }
            }

        }
    }
}